body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px;
  font-size: 16px;
  line-height: 1.6;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

section {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

img {
  border-radius: (50%);
  width: 150px;
  max-width: 100%;
  height: auto;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#message {
  transition: opacity 0.5s;
}

.dark {
  background-color: #222;
  color: white;
}

.dark header {
  background-color: #444;
}

.dark section {
  background-color: #333;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.dark button {
  background-color: #666;
}

/* Appliquer ces styles si l'écran fait moins de 768px (mobile) */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  /* Exemple : Centrer un menu */
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  /* Exemple : Ajuster une section */
  .conteneur {
    padding: 20px;
    text-align: center;
  }
}

/* Style du menu burger */
.menu-burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.menu-burger span {
  display: block;
  height: 5px;
  background-color: #333;
  border-radius: 5px;
}

/* Menu */
.menu {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.menu.active {
  display: flex;
}

.menu a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  background-color: #f1f1f1;
  margin: 5px 0;
  text-align: center;
}

/* Pour les écrans mobiles */
@media screen and (max-width: 768px) {
  .menu-burger {
    display: flex;
  }
}

